.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Essas propriedade faz com que seja aplicado o estilo somente na div que está dentro da classname formulario */
.formulario > div {
    display: flex;
}

.link{
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   margin: 0;
   cursor: pointer; 
}