html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #444;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}


  /* Quando há essa propriedade border-box ele irá contabilizar o tamanho da porta e o tamanho da div para fechar a conta, se tiver uma borda de 20 + um conteudo
  de 200 px, ele irá considerar como se fosse os 160 do conteudo + 40 das bordas, agora se colocar como content-box, ele vai contabilizar a area de 200 + 40px fechando um total de 240 de area ocupada.
  */
* {
  box-sizing: border-box;
}

:root {
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}